parameters:
    level: 6
    paths:
        - src/Entity/ProduitParent.php
        - src/Service/ProduitManager.php
        - tests/Service/ProduitManagerTest.php
    excludePaths:
        - vendor/
    ignoreErrors:
        - message: '#Property App\\Entity\\.*::\$id \(int\|null\) is never assigned int#'
          path: src/Entity/
